# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- We will go through some of the popular languages used by Data Scienties.
- List some of the libraries used by a Data Scientists.
- We will create a Data Science Tools table.
- Will performe a simple arthmetic expressions
- We will convert time in minutes to hours

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia

Some of the commonly used libraries used by Data Scientists include:

1. NumPy  
2. Pandas  
3. Matplotlib  
4. Scikit-learn  
5. TensorFlow

| Data Science Tools |
|:-------------------|
| Jupyter Notebook   |
| RStudio            |
| Apache Zeppelin    |

# Below are a few examples of evaluating arithmetic expressions in Python

In [15]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [16]:
#  This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Raj Kumar